.asteroid-big , .asteroid-b329-big{
    color:blue;
}
.asteroid-big{
    background: yellow;
}
.container{
    font-weight: bold;
}
.asteroid, .asteroid-b326{
    border: 1px solid green;
}
.asteroid-b329-big{
font-weight: bold;
}
body{
    width:200px;
}